---
import BaseLayout from '../layouts/BaseLayout.astro'
    import {Markdown} from 'astro/components'
    import Sidebar from '../components/sidebar/Sidebar.astro'
    // import ThemeToggle from '../components/Header/ThemeToggle.astro'
    import Header from '../components/Header/Header.astro'
    import TableOfContents from '../components/TableOfContents.astro'
    import StorkOutput from '../components/Stork/StorkOutput.astro'
    import XElement from 'astro-xelement'

    const {article:Article} = XElement

    const {content:{menu, directory,
        data:{ page_title,
            page_description,
            astro
        }}}=Astro.props
    const {headers,html} = astro
---
    <BaseLayout 
        PageMeta={{page_title,page_description}}
        PageStyles={[
            {
                href:Astro.resolve('../styles/docsLayout.scss'),
                media:'screen'
            }
        ]}
    >
        <Header class="navbar navbar__header"/>
        <main class="layout">
            <aside class=".grid-left .grid-sidebar">
                <div class="sidebar__feature">
                    <h3>
                        API
                    </h3>
                    <h3>
                        Blog
                    </h3>
                    <h3>
                        Guides
                    </h3>
                    <h3>
                        Tutorials
                    </h3>
                </div>
                <Sidebar menu={menu} directory={directory}/>
            </aside>
            <div class="break__row"></div>
            <Article class="documentation prose js-documentation .grid-main"
                @do={(element)=>{
                    const headings = [...element.querySelectorAll('h1, h2, h3, h4, h5, h6')]
                    function link(heading){
                        return `<a aria-hidden="true" tabindex="-1" href="#${heading.id}"><span class="sr-only">This is the heading anchor for the following "${heading.textContent}" content</span><span class="heading__icon heading__icon__link">#</span></a>`
                    }
                    headings.forEach(heading=>{
                        heading.insertAdjacentHTML('afterBegin',link(heading))
                    })
                }}
            >
                {html}
            </Article>
            <div class="break__row"></div>
            <aside class="rightbar .grid-right sticky-div">
                <div class="">
                    <h1>
                        Something
                    </h1>
                </div>
            </aside>
        </main>
        <div class="break-row"></div>
        <footer class="footer__wrapper"></footer>
    </BaseLayout>
    