---
import BaseLayout from '../layouts/BaseLayout.astro'
    import {Markdown} from 'astro/components'
    import Sidebar from '../components/sidebar/Sidebar.astro'
    // import ThemeToggle from '../components/Header/ThemeToggle.astro'
    import Header from '../components/Header/Header.astro'
    import TableOfContents from '../components/TableOfContents.astro'
    import StorkOutput from '../components/Stork/StorkOutput.astro'
    import XElement from 'astro-xelement'

    const {article:Article} = XElement

    const {content:{menu, directory,
        data:{ page_title,
            page_description,
            astro
        }}}=Astro.props
    const {headers,html} = astro
const intersectionFn = (element)=>{

    const headings =[...document.querySelectorAll('.js-documentation > h1, h2, h3, h4, h5 ')]
    headings.forEach(heading=>observer.observe(heading))
}
---
    <BaseLayout 
        PageMeta={{page_title,page_description}}
        PageStyles={[
            {
                href:Astro.resolve('../styles/docsLayout.scss'),
                media:'screen'
            }
        ]}
    >
        <Header class="navbar navbar__header"/>
        <main class="layout">
            <aside class=".grid-left .grid-sidebar sticky-div">
                <div class="sidebar__feature">
                    <h3>
                        <a href="../api">API</a>
                    </h3>
                    <h3>
                        <a href="../blog">Blog</a>
                    </h3>
                    <h3>
                        <a href="../guides">Guides</a>
                    </h3>
                    <h3>
                        <a href="../sarahedits">Sarah's Edits</a>
                    </h3>
                </div>
                <Sidebar menu={menu} directory={directory}/>
            </aside>
            <div class="break__row"></div>
            <Article class="documentation prose js-documentation .grid-main"
                @do={(element)=>{
                    const headings = [...element.querySelectorAll('h1, h2, h3, h4, h5, h6')]
                    function link(heading){
                        return `<a aria-hidden="true" tabindex="-1" href="#${heading.id}"><span class="sr-only">This is the heading anchor for the following "${heading.textContent}" content</span><span class="heading__icon heading__icon__link">#</span></a>`
                    }
                    headings.forEach(heading=>{
                        heading.insertAdjacentHTML('afterBegin',link(heading))
                    })
                    const observer = new IntersectionObserver(entries=>{
                        entries.forEach(entry=>{
                            const link = element.querySelector(`[href*="#${entry.target.getAttribute('id')}"]`)
                            if(link){
                                if(entry.isIntersecting){
                                   }
                                if(entry.intersectionRatio > 0){
                                    const url = new window.URL(`${window.location.pathname}${link.hash}`,window.location)
                                    window.history.pushState({},'',url)
                                }
                            }
                        },{root: document.getElementById('.js-documentation'),rootMargin: '0% 0% -80% 0%',threshold:[0]})
                    })
                    headings.forEach(heading=>observer.observe(heading))
                }}
            >
                {html}
            </Article>
            <div class="break__row"></div>
            <aside class="rightbar .grid-right sticky-div">
                <div class="">
                    <h1>
                        Something
                    </h1>
                    <TableOfContents headers={headers}/>
                </div>
            </aside>
        </main>
        <div class="break-row"></div>
        <footer class="footer__wrapper"></footer>
    </BaseLayout>
    
