---
import BaseLayout from '../layouts/BaseLayout.astro'
    import {Markdown} from 'astro/components'
    import Sidebar from '../components/sidebar/Sidebar.astro'
    // import ThemeToggle from '../components/Header/ThemeToggle.astro'
    import Header from '../components/Header/Header.astro'
    import TableOfContents from '../components/TableOfContents.astro'
    import StorkOutput from '../components/Stork/StorkOutput.astro'
    import XElement from 'astro-xelement'

    const {article:Article} = XElement

    const {content:{menu,
        data:{ page_title,
            page_description,
            astro
        }}}=Astro.props
    const {headers,html} = astro
---
    <BaseLayout 
        PageMeta={{page_title,page_description}}
        PageStyles={[
            {
                href:Astro.resolve('../styles/docsLayout.scss'),
                media:'screen'
            }
        ]}
    >
        <Header class="navbar navbar__header"/>
        <main class="layout">
            <aside class=".grid-left .grid-sidebar">
                <div class="sidebar__feature">
                    <h3>
                        <a href="/docs/api/overview">API</a>
                    </h3>
                    <h3>
                        <a href="/docs/blog/overview">Blog</a>
                    </h3>
                    <h3>
                        <a href="/docs/guides/myfirstcomponents">Guides</a>
                    </h3>
                    <h3>
                        Tutorials
                    </h3>
                </div>
                <Sidebar menu={menu}/>
            </aside>
            <div class="break__row"></div>
            <Article class="documentation prose js-documentation .grid-main"
                @do={(element)=>{
                    const headings = [...element.querySelectorAll('h1, h2, h3, h4, h5, h6')]
                    function link(heading){
                        return `<a aria-hidden="true" tabindex="-1" href="#${heading.id}"><span class="sr-only">This is the heading anchor for the following "${heading.textContent}" content</span><span class="heading__icon heading__icon__link">#</span></a>`
                    }
                    headings.forEach(heading=>{
                        heading.insertAdjacentHTML('afterBegin',link(heading))
                    })
                }}
            >
                {html}
            </Article>
            <div class="break__row"></div>
            <aside class="rightbar .grid-right">
                <div class="">
                    <h1>
                        Something
                    </h1>
                </div>
                <TableOfContents {headers}/>
            </aside>
        
        </main>
 
        <footer class="footer__wrapper">
            
            <div class="howwedo">
                 <h2>How did we do?</h2>
                 <p>Please take a moment to let us know what you thought of the documentation on this page!</p>
            </div>
            
            <div class="comments">
           
                <script src="https://giscus.app/client.js"
                data-repo="sarah11918/doc_comments_test"
                data-repo-id="R_kgDOGyypOg"
                data-category="Announcements"
                data-category-id="DIC_kwDOGyypOs4CBBQn"
                data-mapping="pathname"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="light"
                data-lang="en"
                crossorigin="anonymous"
                async>
                </script>
            </div>
        </footer>
    </BaseLayout>