---
import BaseLayout from '../layouts/BaseLayout.astro'
    import {Markdown} from 'astro/components'
    import Sidebar from '../components/sidebar/Sidebar.astro'
    import ThemeToggle from '../components/Header/ThemeToggle.astro'
    import Header from '../components/Header/Header.astro'
    import TableOfContents from '../components/TableOfContents.astro'
    import XElement from 'astro-xelement'
    const {article:Article} = XElement
    const {contents,props}= Astro.props
    const content = contents.contents 
    const {astro} = content
    const {headers,source} = astro
    const baseInfo={
        pageTitle: content.page_title,
        pageDescription: content.page_description
    }
---
    <BaseLayout pageInfo={baseInfo} >
                <Header class="navbar navbar__header"/>
        <div class="break__row"></div>
        <main class="layout">
            <aside class=".grid-left .grid-sidebar">
                <Sidebar menu={props.menu}/>
            </aside>
            <Article class="documentation prose js-documentation .grid-main"
                @do={(element)=>{
                    const headings = [...element.querySelectorAll('h1, h2, h3, h4, h5, h6')]
                    function link(heading){
                        return `<a aria-hidden="true" tabindex="-1" href="#${heading.id}"><span class="sr-only">This is the heading anchor for the following "${heading.textContent}" content</span><span class="heading__icon heading__icon__link">#</span></a>`
                    }
                    headings.forEach(heading=>{
                        heading.insertAdjacentHTML('afterBegin',link(heading))
                    })
               
                }}
            >
                <Markdown content={source}/>
            </Article>
            <aside class="rightbar .grid-right">
                <div class="">
                    <h1>
                        Something
                    </h1>
                </div>
                <TableOfContents {headers}/>
            </aside>
        </main>
        <footer class="footer__wrapper"></footer
    
    
    </BaseLayout>