---
    import {Markdown} from 'astro/components'
    import Stylesheet from 'astro-stylesheet'
    import Sidebar from '../components/sidebar/Sidebar.astro'
    import ThemeToggle from '../components/Header/ThemeToggle.astro'
    import Header from '../components/Header/Header.astro'
    import TableOfContents from '../components/TableOfContents.astro'
    import postFileIndexToToml from '../scripts/buildToml.js'
    import XElement from 'astro-xelement'
    const {article:Article} = XElement
    const {contents,props}= Astro.props
    const content = contents.contents 
    const {astro} = content
    const {headers,source} = astro
    const indexObj = {
        path:props.path,
        url:props.slug,
        title:content.title ?? ""
    }
    // postFileIndexToToml(indexObj)
---
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <Stylesheet list={[
            {
                href:"/src/styles/tailwind.scss",
                media:"screen"
            },
            {
                href:"/src/styles/DocumentStyles.scss",
                media:"screen"
            },
        ]}/>
        <title>{content.title}</title>
    </head>
    <body class="document__body">
        <header class="navbar navbar__header">
            <div class="navbar__logo">
                <span>
                    logo
                </span>
            </div>
            <div class="navbar__feature">
                <span>
                    Feature Bar
                </span>
                <span>
                    Feature Bar
                </span>
                <span>
                    Feature Bar
                </span>
                <span>
                    Feature Bar
                </span>
            </div>
            <div class="navbar__search">
                <ThemeToggle/>
                <span>
                    Search thingie
                </span>
            </div>
        </header>
        <div class="break__row"></div>
        <main class="main">
            <section class="leftbar">
                <Sidebar menu={props.menu}/>
            </section>
            <Article class="documentation prose js-documentation"
                @do={(element)=>{
                    const headings = [...element.querySelectorAll('h1, h2, h3, h4, h5, h6')]
                    function link(heading){
                        const link = `<a aria-hidden="true" tabindex="-1" href="#${heading.id}"><span class="sr-only">This is the heading anchor for the following "${heading.textContent}" content</span><span class="heading__icon heading__icon__link">#</span></a>`
                        return link
                    }
                    headings.forEach(heading=>{
                        heading.insertAdjacentHTML('afterBegin',link(heading))
                    })
               
                }}
            >
                <Markdown content={source}/>
            </Article>
            <section class="rightbar">
                <div class="">
                    <h1>
                        Something
                    </h1>
                </div>
                <TableOfContents {headers}/>
            </section>
        </main>
        <footer class="footer__wrapper"></footer>
    </body>
    </html>
    <style lang="scss">
   

    </style>